@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 20%;
    background-image: url('/images/top-image.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    height: 60%;
    background-image: url('/images/rocket.svg');
    background-position: right;
    background-repeat: no-repeat;
}

/*counter*/

.count {
    margin-left: 13%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countersHead {
    font-size: 14px;
    font-weight: lighter;
    width: 105%;
    color: #c8c8c8;
    display: flex;
    justify-content: space-around;
}

.counters {
    font-size: 72px;
    display: flex;
    justify-content: space-around;
}

.countersHead td {
    padding: 20px 60px;
    text-align: center;

}

.counters td {
    padding: 20px;
    color: #4D4C59;
}



/*Subscribe texts and button*/



.subscribe {
    box-sizing: border-box;
    margin-left: 13%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 20px;
}

.subscribe p {
    font-size: 14px;
    color: #9C9AB6;
}

.subscribe a {
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #6C63FF;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

.subscribe a:hover {
    box-sizing: border-box;
    color: #6C63FF;
    box-shadow: #6C63FF 0px 1px 0px 2px;
    background-color: white;
}

caption {
    color: #6C63FF;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 8px;
}



/*form on click in the subscribe button*/



.form {
    position: fixed;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 52%;
    top: 10%;
    float: left;
    border-radius: 40px;
    background-color: #6b63fffa;
    width: 35%;
    height: 80%;
    color: white;
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
    width: 85%;
    font-family: 'Poppins', sans-serif;
    height: 10%;
    color: #6C63FF;
    background-color: white;
    outline: 0;
    border: 0;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.form>input[type=button] {
    width: 60%;
    height: 8%;
    background-color: #6C63FF;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.form>input[type=button]:hover {
    box-shadow: 0px 2px 0.5px 2px white;
}

.form>button {
    float: left;
    position: fixed;
    right: 15%;
    top: 12%;
    cursor: pointer;
    background: 0;
    border: 0;
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

/*bottom background*/

footer {
    width: 100%;
    height: 20%;
    background-image: url('/images/bottom-image.svg');
    background-repeat: no-repeat;
    background-size: 150%;
}